*{
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    margin: 0px;
}

nav{
    background-image:url('bg3.gif');
    background-attachment: fixed;  
    background-size:cover;
    background-position-y: 100px;
    background-position-x: 50px;
}

nav{
    z-index: 5;
    overflow: hidden;
    background-color: white;
}

.topnav{
    width: 100%;
    display: flex;
    justify-content:space-between;
    margin:auto;
    height: 10vh;
    position: fixed;
    box-shadow: 0 12px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 5;
}

.topnav a{
    margin-top: 20px;
    padding-left:10px;
    padding-bottom: 0;
    padding-right: 10px;
    text-decoration: none;
    color: black;
    font-weight:bold;
    z-index: 5;
}

.topnav a:hover{
    color:#FFE0B1;
}

.con1{
    width:33%;
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    font-size: 18px;
    font-weight: bolder;
    color:black;
    text-decoration: none;
}

.logo{
    width: 10%;
    height: 82%;
    float: left;
    margin-left: 30px;
    margin-top: 9px;
    font-size: 40px;
    color: black;
}

.login{
 margin-right: 45px;
 padding-top: 7px;
 border:none;
 border-radius: 50px;
 cursor: pointer;
 transition: all 0.3s ease 0s;
 width: 120px;
 height: 42px;
 text-align: center;
 font-family: 'Outfit', sans-serif;
 font-weight: 500;
 font-size: 18px;
 font-weight: bolder;
 text-decoration: none;
 background-color:bisque ;
}


.login:hover{
background-color: black;
}

.logospan3{
    color:bisque;
}

.logo:hover .logospan1{
    color: bisque;
}
.logo:hover .logospan3{
    color: black;
}
.logo:hover .logospan2{
    color:bisque;
}
.logo:hover .logospan4{
    color:bisque;
}


header{
    padding-top:80px;
    background-color:bisque;
}
.heading{
    margin-top:20px;
    margin-left:42%;
    font-size: 50px;
    padding-bottom: 20px;
}
.content{
    padding: 10px;
    margin-top: 10px;
    margin-left:10px;
    margin-right:10px;
    font-size:25px;
    text-align: center;
    /* background-color:#EBECF0; */
}

.heading1{
    margin-top: 30px;
    margin-left: 43%;
    font-size: 45px;
    /* background-color: #FFE0B1; */
}
.sec1{
    padding-top:10px;
    background-color: whitesmoke;
    padding-bottom: 4px;
}
/* .start{
    font-family:'Outfit',sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 60px;    
    margin: 5px;
    padding-left: 40px;
    padding-top: 100px;
    text-align: left;
    color:black;
    overflow-x: visible;
    background-color: whitesmoke;
}

.para1{
    margin:50px 45px;
    width:60%;
    font-size: 18px;
} */

.img1{
    float:right;
    padding-top: 100px;
    padding-left:20px;
    width: 20%;
}

.line{
    margin:auto;
    margin-top:100px;
    width:50%;
    height: 5px;
    color: #232425;
    background-color: #232425;
    margin-bottom: 40px;
  }
  .column {
      float: left;
      padding: 0 40px;
      margin-left: 50px;
      margin-top: 50px;
      animation-name: floating;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
    }
    
    .row {margin: 0;}
    
    .row:after {
      content: "";
      display: grid;
      clear: both;
    }
  
    .card1 {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 50px;
        text-align: center;
        background-color:bisque;
        border-radius: 15px;
        width: 350px;
        height: 220px;
      }
    
      .card2{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 50px;
        text-align: center;
        background-color:#232425;
        color:#FFE0B1;
        border-radius: 15px;
        width: 350px;
        height: 220px;
      }
    
      .img2{
        width: 40px;
        height:40px;
      }
    
      .h31{
        padding-top: 5px;
        padding-bottom: 5px;
      }
      @keyframes floating{
        0% { transform: translate(0,  0px); }
        50%  { transform: translate(0, 15px); }
        100%   { transform: translate(0, -0px); }   
    }
    .h54{
        text-align: center;
        font-size: 50px;
        margin-bottom: 30px;
    }
    .sum1{
        margin-left: 5%;
        width: 100%;
        border: none;
        font-size: 22px;
        cursor: pointer;
        color: #232425;
        margin-bottom: 20px;
    }
    .p5{
        margin-left:7%;
        color: #232425;
        font-size: 17px;
        margin-bottom: 20px;
    }
    .sum2{
        margin-left: 5%;
        width: 100%;
        border: none;
        font-size: 22px;
        cursor: pointer;
        color: #232425;
        margin-bottom: 20px;
    }
    .p6{
        margin-left:7%;
        color: #232425;
        font-size: 17px;
        margin-bottom: 20px;
    }
    .sum3{
        margin-left: 5%;
        width: 100%;
        border: none;
        font-size: 22px;
        cursor: pointer;
        color: #232425;
        margin-bottom: 20px;
    }
    .p7{
        margin-left:7%;
        color: #232425;
        font-size: 17px;
        margin-bottom: 20px;
    }
    .sum4{
        margin-left: 5%;
        width: 100%;
        border: none;
        font-size: 22px;
        cursor: pointer;
        color: #232425;
        margin-bottom: 20px;
    }
    .p8{
        margin-left:7%;
        color: #232425;
        font-size: 17px;
        margin-bottom: 20px;
    }
    .footer-distributed {
        margin-top: 60px;
        background-color:whitesmoke;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
        box-sizing: border-box;
        width: 100%;
        text-align: left;
        font: normal 16px sans-serif;
        padding: 5vh 7vw;
      }
      
      .footer-distributed .footer-left p {
        font-size: 14px;
        margin: 0;
        margin-left: 10px;
      }
      
      .footer-distributed p.footer-links {
        font-size: 18px;
        font-weight: bold;
        margin: 0 0 10px;
        padding: 0;
        transition: ease .25s;
      }
      
      .footer-distributed p.footer-links a {
        display: inline-block;
        line-height: 1.8;
        text-decoration: none;
        color: inherit;
        transition: ease .25s;
        margin: 0px 10px;
      }
      
      .footer-distributed .footer-links a:before {
        content: "·";
        font-size: 20px;
        left: 0;
        color: #fff;
        display: inline-block;
        padding-right: 5px;
      }
      
      .footer-distributed .footer-links .link-1:before {
        content: none;
      }
      
      .footer-distributed .footer-right {
        float: right;
        margin-top: 6px;
        max-width: 180px;
      }
      
      .footer-distributed .footer-right a {
        display: inline-block;
        width: 35px;
        height: 35px;
        background-color: #33383b;
        border-radius: 2px;
        font-size: 20px;
        color: #ffffff;
        text-align: center;
        line-height: 35px;
        margin-left: 3px;
        transition:all .25s;
      }
      
      .footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}
      
      .footer-distributed p.footer-links a:hover{color: #FFE0B1;}